@import "tailwindcss";

@theme {
  --animate-slide: slide 1.75s ease-in-out infinite;
  @keyframes slide {
    0% {
      left: -33%;
    }
    100% {
      left: 100%;
    }
  }
}

a:not(.no-underline):hover {
  @apply underline;
}
