@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

a:not(.no-underline):hover {
  @apply underline;
}

.indeterminant-circular::before {
  animation: 1.5s linear infinite spin;
  border-radius: 50%;
  border: solid 0.1em #fefefe;
  border-bottom-color: transparent; /* do not reorder */
  content: "";
  height: 1em;
  position: absolute;
  width: 1em;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.indeterminant-linear::before {
  animation: 1.75s ease-in-out infinite slide;
  background-color: #000003;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  top: 0;
  width: 33%;
}

@keyframes slide {
  0% {
    left: -33%;
  }
  100% {
    left: 100%;
  }
}

